body {
  color: rgb(149,88,203);
  font-family: arial;
  margin: 25px;
}


div {
  min-height: 10vh;
  width: 100vw;
}


#topnav ul {
	margin: auto;
	padding: 20px;
	list-style-type: none;
	text-align: center;
	background-color: #000;
	}
	#topnav ul li {
		display: inline;
		}

#topnav ul li a {
	text-decoration: none;
	padding: .9em 2em;
	color: #fff;
	background-color: #000;
	border-right: 1px solid #fff;
	font-family: 'Play',serif;
	font-size: 15px;
	}
#topnav ul li:last-child a {
	border:none;
	}


#meniu ul {
	margin: 0;
	padding: 0px;
	list-style-type: none;
	text-align: center;
	background-color: transparent;
}

#meniu ul li {
		display:inline;
		text-decoration: none;
		padding: .3em 1em;
		color: #fff;
		background-color: transparent;
		font-family: 'Play',serif;
		font-size: 25px;
		}

    .tales {
  width: 100%;
}

.carousel-inner{
  width:1365px;
  max-height: 1000px !important;
  font-family: "FrankRuehl",serif;
  text-align-last: center;
}

.sora-special-box {background: #f8f8f8;overflow: hidden;margin: 0 auto;padding:20px 0;}
.special-wrap {
margin:0 auto;
}
.special-title {
text-align: center;
margin-bottom: 35px;
}
.special-title h4 {
font-size: 35px;
line-height: 45px;
color:#303030;
}
.special-tiles {
width: 33.33%;
float: left;
padding: 10px;
box-sizing: border-box;
text-align: center;
}
.special-icons {
font-size: 45px;
display: block;
color: #303030;
margin-bottom: 20px;
}
.special-heading {
font-size: 14px;
line-height: 21px;
color: #303030;
text-transform: uppercase;
letter-spacing: 1.5px;
margin-bottom: 10px;
font-weight:bold;
}
.special-text {
margin: 0 0 20px;
color: #606060;
}

    #banner .inner p:first-child{
    	font-family: 'Play', serif;
    	font-color: #000;
    	font-size: 100px;
    	font-shadow: 4px 4px 4px #aaa;
    	margin-top:80px;
    	margin-bottom: 5px;
    	}
    #banner .inner p{
    	font-family: 'Play', serif;
    	font-color: #000;
    	font-size: 25px;
    	font-shadow: 4px 4px 4px #aaa;
    	}
    #banner .inner hr {
        display: block;
        padding:0;
    	margin:0;
        border-style: inset;
        border-width: 7px;
    }



h1{
  text-align: center;
  font-size: 5em;
  padding-top: 100px
}

h2{
  text-align: center;
  font-size: 3em;
  padding-top: 100px
}

p{
  text-align: center;
  padding-top: 50px;
}

h3{
  text-align: center;
  padding-top: 30px;
  font-size: 2em;
}

img{
  height: 500px;
  width: 100px;
}


div.contrast {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }

  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
